[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-filter = "*"
requests = "*"
django-cors-headers = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.12"
